<div class="bg-slate-50">
  <div class="container p-5 mx-auto">
    <div class="flex justify-between">
      <div></div>

      <div class="space-y-2">
        <p class="font-bold">မြန်မာနိုင်ငံကူးလက်မှတ်ထုတ်ပေးရေးရုံး</p>
        <p>ဆရာစံလမ်းနှင့် စက်မှု(၁)လမ်းထောင့်၊ ဗဟန်းမြို့နယ်၊ ရန်ကုန်တိုင်း</p>
        <p>onlinepassportmm@gmail.com</p>
        <p>01 546624</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-slate-200">
  <div class="container p-5 mx-auto">
    <p>&copy; 2023. All Right Reserved.</p>
  </div>
</div>
